
@model CourseViewModel

@{
    ViewData["Title"] = "Courses";
}
<link rel="stylesheet" href="~/css/Courses.css" asp-append-version="true" />



 <section class="coursesList">
    <div class="container">
        <div class="homeIcon">
            <img src="~/Images/homeIcon.svg" alt="">
            <h4 class="gray">Home</h4>
            <img src="~/Images/rightArrow.svg" alt="">
            <h4 class="blue">Courses</h4>
        </div>
        <div class="courses">
            <h1>Courses</h1>
            <div class="searchCourses">
                <input type="text" placeholder="All categories">
                <input type="text" placeholder="Search courses">
            </div>
        </div>
    </div>
</section>
<section class="chooseCourses">
    <div class="container">
        <div class="container-cards">
            @foreach(var item in Model.Courses)
            {
                <div class="cardCourses">
                    @if(item.IsBestSeller)
                    {
                        <img class="bestSeller" src="~/Images/badge.png" alt="">
                    
                     }
                    <img class="cardImage" src="~/Images/@item.ImageName" alt="">
                    <img class="courseIcon" src="~/Images/S.svg" alt="">                    
                    
                    <div class="cardText">
                        <h5>@item.Title</h5>
                        <p class="text-s">@item.Author</p>
                        <span class="blue">$ @item.Price</span>
                        <span class="red">$ @item.Discount</span>
                        <hr>
                        <div class="watch">
                            <div class="hours">
                                <p class="text-s"><i class="fa-regular fa-clock"></i> @item.Hours hours</p>
                            </div>
                            <div class="likes">
                                <img src="~/Images/like.svg" alt="">
                                    <span class="text-s">@($"{item.LikesProcent * 100}%")</span>
                                    <span>(@($"{item.LikesNumbers * 1000}k"))</span>                                    
                            </div>
                        </div>
                    </div>
                </div>
            }          
            
        </div>
     </div>
   @*  <div class="container">
            @foreach(var items in Model.Courses)
            {
             <div class="container-cards">

                    <div class="cardCourses">
                        <img class="cardImage" src="~/Images/image (1).svg" alt="">
                        <img class="courseIcon" src="~/Images/S.svg" alt="">
                        <img class="bestSeller" src="~/Images/badge.png" alt="">
                        <div class="cardText">
                            <h5>Fullstack Web Developer Course from Scratch</h5>
                            <p class="text-s">By Robert Fox</p>
                            <span class="blue">$12.50</span>
                            <hr>
                            <div class="watch">
                                <div class="hours">
                                    <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">160 hours</p>
                                </div>
                                <div class="likes">
                                    <p class="text-s"><img src="~/Images/like.svg" alt=""> 92%(3.1K)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
       
    </div> *@


</section>
<div class="pagination"><img src="~/Images/pagination.svg" alt=""></div>

<section class="container">
    <div class="workwithUs">
        <div class="work1">
            <h4 class="text-lead">Ready to get started?</h4>
            <h1>Take Your <span>Skills</span> to the Next Level</h1>
            <button class="btn-theme-s">Work with us</button>
        </div>
        <div class="work1">
            <img src="~/Images/WorkIllustration.svg" alt="">
        </div>
    </div>
</section> 

@* 
<div class="cardCourses">
    <img class="cardImage" src="~/Images/image (1).svg" alt="">
    <img class="courseIcon" src="~/Images/S.svg" alt="">
    <img class="bestSeller" src="~/Images/badge.png" alt="">
    <div class="cardText">
        <h5>Fullstack Web Developer Course from Scratch</h5>
        <p class="text-s">By Robert Fox</p>
        <span class="blue">$12.50</span>
        <hr>
        <div class="watch">
            <div class="hours">
                <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">160 hours</p>
            </div>
            <div class="likes">
                <p class="text-s"><img src="~/Images/like.svg" alt=""> 92%(3.1K)</p>
            </div>
        </div>
    </div>
</div>
<div class="cardCourses">
    <img class="cardImage" src="~/Images/image (2).svg" alt="">
    <img class="courseIcon" src="~/Images/S.svg" alt="">
    <div class="cardText">
        <h5>HTML, CSS, JavaScript Web <br> Developer</h5>
        <p class="text-s">By Jenny Wilson & Marvin McKinney</p>
        <span class="blue">$15.99</span>
        <hr>
        <div class="watch">
            <div class="hours">
                <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">160 hours</p>
            </div>
            <div class="likes">
                <p class="text-s"><img src="~/Images/like.svg" alt=""> 92%(3.1K)</p>
            </div>
        </div>
    </div>
</div>
<div class="cardCourses">
    <img class="cardImage" src="~/Images/image (3).svg" alt="">
    <img class="courseIcon" src="~/Images/S.svg" alt="">
    <div class="cardText">
        <h5>The Complete Front-End Web Development Course</h5>
        <p class="text-s">By Albert Flores</p>
        <span class="red">$9.99</span>
        <hr>
        <div class="watch">
            <div class="hours">
                <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">160 hours</p>
            </div>
            <div class="likes">
                <p class="text-s"><img src="~/Images/like.svg" alt=""> 94%(4.2K)</p>
            </div>
        </div>
    </div>
</div>
<div class="cardCourses">
    <img class="cardImage" src="~/Images/image (4).svg" alt="">
    <img class="courseIcon" src="~/Images/S.svg" alt="">
    <div class="cardText">
        <h5>iOS & Swift - The Complete iOS App Development Course</h5>
        <p class="text-s">By Marvin McKinney</p>
        <span class="blue">$15.99</span>
        <hr>
        <div class="watch">
            <div class="hours">
                <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">160 hours</p>
            </div>
            <div class="likes">
                <p class="text-s"><img src="~/Images/like.svg" alt=""> 92%(3.1K)</p>
            </div>
        </div>
    </div>
</div>
<div class="cardCourses">
    <img class="cardImage" src="~/Images/image (5).svg" alt="">
    <img class="courseIcon" src="~/Images/S.svg" alt="">
    <img class="bestSeller" src="~/Images/badge.png" alt="">
    <div class="cardText">
        <h5>Data Science & Machine Learning with Python</h5>
        <p class="text-s">By Esther Howard</p>
        <span class="red">$11.20</span>
        <hr>
        <div class="watch">
            <div class="hours">
                <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">100 hours</p>
            </div>
            <div class="likes">
                <p class="text-s"><img src="~/Images/like.svg" alt=""> 92%(3.1K)</p>
            </div>
        </div>
    </div>
</div>
<div class="cardCourses">
    <img class="cardImage" src="~/Images/image (6).svg" alt="">
    <img class="courseIcon" src="~/Images/S.svg" alt="">
    <div class="cardText">
        <h5>Creative CSS Drawing Course: Make Art With CSS</h5>
        <p class="text-s">By Robert Fox</p>
        <span class="blue">$10.50</span>
        <hr>
        <div class="watch">
            <div class="hours">
                <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">220 hours</p>
            </div>
            <div class="likes">
                <p class="text-s"><img src="~/Images/like.svg" alt=""> 94%(4.2K)</p>
            </div>
        </div>
    </div>
</div>
<div class="cardCourses">
    <img class="cardImage" src="~/Images/image (7).svg" alt="">
    <img class="courseIcon" src="~/Images/S.svg" alt="">
    <div class="cardText">
        <h5>Blender Character Creator v2.0 for Video Games Design</h5>
        <p class="text-s">By Ralph Edwards</p>
        <span class="blue">$18-99</span>
        <hr>
        <div class="watch">
            <div class="hours">
                <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">160 hours</p>
            </div>
            <div class="likes">
                <p class="text-s"><img src="~/Images/like.svg" alt=""> 92%(3.1K)</p>
            </div>
        </div>
    </div>
</div>
<div class="cardCourses">
    <img class="cardImage" src="~/Images/image (8).svg" alt="">
    <img class="courseIcon" src="~/Images/S.svg" alt="">
    <div class="cardText">
        <h5>The Ultimate Guide to 2D Mobile Game Development with Unity</h5>
        <p class="text-s">By Albert Flores</p>
        <span class="red">$12.99</span>
        <hr>
        <div class="watch">
            <div class="hours">
                <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">160 hours</p>
            </div>
            <div class="likes">
                <p class="text-s"><img src="~/Images/like.svg" alt=""> 92%(3.1K)</p>
            </div>
        </div>
    </div>
</div>
<div class="cardCourses">
    <img class="cardImage" src="~/Images/image (9).svg" alt="">
    <img class="courseIcon" src="~/Images/S.svg" alt="">
    <div class="cardText">
        <h5>Learn JMETER from Scratch on Live Apps-Performance Testing</h5>
        <p class="text-s">By Jenny Wilson</p>
        <span class="blue">$14.50</span>
        <hr>
        <div class="watch">
            <div class="hours">
                <p class="text-s"><img src="~/Images/bx-time-five.svg" alt="">160 hours</p>
            </div>
            <div class="likes">
                <p class="text-s"><img src="~/Images/like.svg" alt=""> 92%(3.1K)</p>
            </div>
        </div>
    </div>
</div> *@